.icon-bar {
    width: 100%;
    background-color: #555;
    position: fixed;
    z-index: 5;
    bottom: 0;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar .bar:hover {
    background-color: #000;
}


html {
   font-size: 16px;
   overflow-x: hidden;
}

body {
    width: 100%;
   
}

h3{
    font-family: 'Merienda', cursive;
    font-weight: lighter;
    font-size: 1em;
    letter-spacing: 0.1em;
   
}

#image{
 
  position:relative;
  align-self: flex-end;
  margin-right: 10%;

}

div#image2{
    position: relative;
    top: -70;
    align-self: flex-start;
}


.flex-container{
	height:100%;
	display: flex;
	justify-content: center;
  	align-items: center;
    flex-direction: column;
}



h2{
	font-family: 'Alegreya Sans SC', sans-serif;
	letter-spacing: 0.1em;
	font-size: 3em;
    line-height: 0;
    font-weight: lighter;
}

div#celebrate{
    font-family: 'Merienda', cursive;
    font-weight: lighter;
    font-size: 0.8em;
    text-align: right;
    position: relative;
   
}

#overlay {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.93); 
    z-index: 2; 
    cursor: pointer; 

}

#details {
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: white;
    text-align: center;
    letter-spacing: 0.5em;
    line-height: 2.0;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;

   
    }

#text{
    color:#DCDCDC;
    font-style: italic;
    font-family: 'Alegreya Sans SC', sans-serif;
    line-height: 4;
    font-weight: lighter;
    letter-spacing: 0.2em;
    font-size: 1.3em;
}

#text2{
    font-family: 'Merienda', cursive;
    color: #91D4FA;
    font-size: 1.7em;
    font-weight: bold;
    line-height: 1.6;
}

#mapbutt{
    border-radius: 6px;
    background-color: #91D4FA;
    border:none;
    font-size: 12px;
    letter-spacing:0.5em;
    padding: 10px;
    color:white;
    text-align: center;
    text-decoration: none;
    opacity: 0;
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;
    }

@-webkit-keyframes fadein {
from {opacity: 0;}
to   { opacity: 1; }
}

#init{
    font-family: 'Alegreya Sans SC', sans-serif;
    border-radius: 6px;
    background-color: #91D4FA;
    border:none;
    font-size: 0.9em;
    letter-spacing:0.5em;
    padding: 10px;
    color:white;
    text-align: center;
    text-decoration: none;
}


img#pen2{
    width: 100px;
    height: 100px;
}

img#pen{
    width:190px;
    height:19px;
}

@media (max-width: 320px){

    h2{
        font-size: 2.5em;
    }

    div#celebrate{
        font-size: 0.7em;
    }

    #text2{
        font-size: 1.2em;
    }
}

@media (min-width: 550px){
    h2{
        font-size: 5.3em;
    }

    div#celebrate{
        font-size: 1.2em;
    }

    h3{
    font-size: 1.6em;
    }

    #init{
    
    font-size: 1.5em;
    
}

img#pen2{
    width:160px;
    height:160px;
}

#text{
  
    font-size: 2.3em;
}

#text2{
    
    font-size: 2.7em;
    
}

#mapbutt{
   
    font-size: 20px;
    
    }

    #text3{
   
    font-size: 1.7em;
    
    }

    img#pen{
    width:370px;
    height:37px;
}


    }



