.icon-bar {
    width: 100%;
    background-color: #555;
    /*overflow: auto;*/
    position: fixed;
  bottom: 0;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar .bar:hover {
    background-color: #000;
}




/* -------- Base styles - these will always apply, no matter what. -------- */

html {
    /*font-family: 'Nunito', sans-serif;*/
    /* Here we say that every piece of text should be in the Roboto font we loaded from Google in the HTML header; if that can't load, use the browser default sans serif font. */

    font-size: 16px;
    /* This tells every piece of text should default to 16px in size. We'll use other values as multipliers of this later, but this ensures styling consistency across browsers/platforms. */

    overflow-x: hidden;
    /* This is telling the browser to hide anything that goes off the left and right edges of the page, and not let the user scroll to see it. */
  


}

body {
    width: 100%;
   
}

h3{
    font-family: 'Merienda', cursive;
    font-weight: lighter;
    font-size: 1em;
    letter-spacing: 0.1em;
   /* line-height: 0;*/
}

#image{
 
  position:relative;
  align-self: flex-end;
  margin-right: 10%;

}

div#image2{
     position: fixed;
    top: 100;
    left: 45%;
    
 
    align-self: flex-start;

}


.flex-container{
	height:100%;
	display: flex;
	justify-content: center;
  	align-items: center;
    flex-direction: column;
}

/*#firstcontainer{
    flex-direction: column;
}*/

h2{
	font-family: 'Alegreya Sans SC', sans-serif;
	letter-spacing: 0.1em;
	font-size: 3em;
    line-height: 0;
    font-weight: lighter;
}

div#celebrate{
    font-family: 'Merienda', cursive;
    font-weight: lighter;
    font-size: 0.8em;
    text-align: right;
    position: relative;
   /* margin-bottom: -80px;*/
}






#overlay {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.93); 
    z-index: 2; 
    cursor: pointer; 

}

#details {
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: white;
    /*background-color: red;*/
    text-align: center;
    letter-spacing: 0.5em;
    line-height: 2.0;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;

   
    }

    #text{
        color:#DCDCDC;
        font-style: italic;
        font-family: 'Alegreya Sans SC', sans-serif;
        line-height: 4;
        font-weight: lighter;
        letter-spacing: 0.2em;
        font-size: 1.3em;
    }

    #text2{
        font-family: 'Alegreya Sans SC', sans-serif;
        color: #91D4FA;
        font-size: 2em;
        font-weight: bold;
        line-height: 1.6;
    }

    #mapbutt{
        border-radius: 6px;
        background-color: #91D4FA;
        border:none;
        font-size: 12px;
        letter-spacing:0.5em;
        padding: 10px;
        color:white;
        text-align: center;
        text-decoration: none;
        opacity: 0;
        -webkit-animation-name: fadein;
        -webkit-animation-duration: 3s;
        -webkit-animation-delay: 3s;
        -webkit-animation-fill-mode: forwards;
        }

    @-webkit-keyframes fadein {
   from {opacity: 0;}
    to   { opacity: 1; }
}
 
    #init{
     font-family: 'Alegreya Sans SC', sans-serif;
     border-radius: 6px;
        background-color: #91D4FA;
        border:none;
        font-size: 0.9em;
        letter-spacing:0.5em;
        padding: 10px;
        color:white;
        text-align: center;
        text-decoration: none;
    }



